.page-navigation {
    display: flex;
    align-items: center;
    padding: 10px;
    padding-left: 0px;
}

.page-navigation .btn {
    height: 29px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-navigation .page-number{
    height: 29px;
    padding-left: 5px;
    padding-right: 5px;
}

.page-number p{
    text-align: center;
}

* {
    cursor: pointer;
}

