 body {
     font-family: Arial, sans-serif;
     background-color: #f8f8f8;
     color: #444;
 }

.movie-detail {
    max-width: 800px;
    margin: 2rem auto;
    padding: 1.5rem;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 1rem;
}

.movie-detail h2 {
    grid-column: span 2;
    color: #333;
    margin-bottom: 1rem;
}

.movie-poster {
    width: 100%;
    height: auto;
    border-radius: 15px;
    object-fit: cover;
}

.movie-detail ul {
    list-style: none;
    padding: 0;
}

.movie-detail ul li {
    padding: 0.5rem 0;
    border-bottom: 1px solid #eee;
}

.movie-detail ul li:last-child {
    border-bottom: none;
}

