<div class="top-row ps-3 navbar navbar-dark">
    <div class="flex-row">
        <a class="navbar-brand" href="">BMMS-DB</a>

        <div class="nav-item">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item">
            <NavLink class="nav-link" href="moviesearch">
                <span class="oi oi-video" aria-hidden="true"></span> Movie Search
            </NavLink>
        </div>
    </div>
   

</div>

