@inject NavigationManager NavManager;

<div class="top-row ps-3 navbar navbar-dark">
    <div class="flex-row">
        <a class="navbar-brand" href="">BMMS-DB</a>

        <div class="nav-item">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item">
            <form @onsubmit="@SearchForMovie">
                <div class="form-container">
                    <div class="form-container-item">
                        <input type="text" @bind="@movieTitle"/><br>
                    </div>
                    <div class="form-container-item">
                        <button class="btn btn-primary">Search Movie</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>

@code {
    private string movieTitle { get; set; }

    private void SearchForMovie()
    {
        NavManager.NavigateTo($"searchResult/{movieTitle}");
    }

}